
html{
	scroll-behavior: smooth;
}

<-- header-section css stare -->

.menu ul
{}
.menu li
{
	display:inline-block;
	text-align: center;
}
.menu a
{
		color:white;
		font-size:34;
		text-decoration:none;
		font-family:Monotype Corsiva;
		margin: 20px;
		position: relative;
		top: 20px;
}
.menu i
{
	color: white;
}
.menu a:hover i
{
	transform: translatey(-20px);
	color: greenyellow;
}
.menu {
	text-align: center;
	background:linear-gradient(45deg,blue,pink,tomato,darkred);
	height: 80px;
	width: 100%;
}

/*BANNER SECXTION START*/
.banner img{
	width: 100%;
	height: 500px;
}
/*h1 tag*/
h1{
	font-family: Mongolian Baiti;
	text-align: center;
	color:blueviolet;
}

/* GALLERY SECTION START */

.GALLERY div
{
		text-align:center;
		width:22%;
		display:inline-block;
		margin:5px;
		padding:8px;
		background:blueviolet;
}
.GALLERY img
{
	height:50%;
	width:100%;
	opacity: 0.8;
	background: #f75433;
	border-radius: 50%;
}
.GALLERY p
{
		font-family:Segoe Script;
		text-align:center;
		font-size:20px;
		color: white;
}
.GALLERY img:hover
{
	cursor:grab;
	transition:ease-in-out 2s;
	opacity: 1;
	border-radius: 0PX;
}

/* CAR TYPE SECTION STAR */

.cone div
{
	width:23%;
	display:inline-block;
	text-align:center;
	padding:5px;
}
.cone img
{
	width:70%;
	height:32%;
}
.cone img:hover
{
	transition: ease-in-out 2s;
	cursor: wait;
}
.CTHREE div
{
	width:45%;
	display:inline-block;
	text-align:center;
	padding:5px;
}
.CTHREE img
{
	width:70%;
	height:32%;
}

/*SERVICE SECTION START*/

.service 
{
	height: 240px;
	padding-top: 50px;
}
.service div
{
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 21%;
	text-align: center;
	font-size: 29;
	

}
.service i
{
	font-size: 45;
	color: black;
	position: relative;
	top: 20px;
}
.service div p
{
	display: none;
}
.service div:hover p
{
	display: inline-flex;
	background: greenyellow;
}
.service div h1
{
	color:black;
	background: white;
	font-size: 20;
	font-family:Castellar ;
}

/* REVIEW  section start*/

.REVIEW
{
	background:radial-gradient(#059969,#f2bcd6,#6c0dbc,#a71487);
	background-size: cover;
	margin-top: 80px;
	text-align: center;
	height: 530px;
	display: inline-block;
	width: 100%;
	margin-top: 180px;
}
.REVIEW div
{
	display: inline-block;
	width: 20%;
	margin: 10px;
	padding: 20px;
	background: #fff;
	border-radius: 20px;
}
.REVIEW img{
	height: 90px;
	width: 90px;
	border-radius: 50%;
}
.REVIEW div p
{
	text-align: justify;
	font-family: Segoe UI;
	line-height: 2;
	font-size: 14;
}
.REVIEW div:hover
{
	background:indianred;
	background-size: cover;
}
.REVIEW div:hover p
{
	color: purple;
}
.REVIEW h1
{
	font-family: Mongolian Baiti;
	text-align: center;
	color:blueviolet;
	position: relative;
	top: -60PX;
}

/*contact section start*/

.contact 
{
   	width:100%;
	display:flex;
	padding-top:20px;
}
.cont1
{
     width: 50%;
}
.cont2
{
	 text-align:center;	
     background:blueviolet;  
	 color:white;
	 font-size:25px;
	 font-family:calibri;
	 padding-top:0px;
	 width:45%;
	 padding-left: 30px;
}
.cont2 input
{
	width: 350px;
	height: 30px;
	margin: 10px;
}

/* footer section start */

.footer
{
		background:blueviolet;
		color:darkkhaki;
		margin-top: 30px;
				
}
.footer:hover
{
	background:black;
}
.footer p
{
    font-size:25px;	
	font-family:monotype corsiva;
	color:yellowgreen;
}
.footer div
{
	width:20%;
	display:inline-block;
	padding: 10px;
	margin: 10px;
}
.go ul li 
{
    padding:9px;
	font-size:20px;
	display: inline-block;
	width: 100%;
	position: relative;
	right: 40px;
	top: 0px;
}
.ad
{
    text-align:center;	
	font-size:25px;
	font-family:calibri;
	width:100%;
}
.ad p
{
	font-size: 33;
}
.footer ul li
{
	font-size:25px;
	color:greenyellow;
}
.footer ul li a
{
	font-size:25px;
	color:greenyellow;
	text-decoration: none;
}
.fa {
	color: blue;
}
.in {
	color: darkred;
}
.tw {
	color: white;
}
.rs {
	color: gray;
}
::-webkit-scrollbar{
	width:12px ;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent,#30ff00);
	border-radius: 6px;
}